.strzalka {
    padding-left: 20px;
    padding-right: 20px;
}
.miesiac {
    display: inline-block;
    width: 200px;
    text-align: center;
}
.doPrawej {
    float: right;
}
#blokUstawienia {
    background: lightgray;
}
#blokUstawienia h3 {
    text-align: center;
}
